#The KDE dolphin file manager creates these files; ignore them
.directory
.texpadtmp
# ^ Mac Texpad application uses this directory for temporary files.

*.~lock.*
# ^ Making sure that Libre / Open Office doesn't let locks creep into the repository

# Latex files
 
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.sty
*.synctex.gz
cpp.pdf
# Since we may include PDF inserts that we generate elsewhere, if there are any other temporary pdfs
# PLEASE add them here.

# Any more platform things
.DS_Store
